@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Patrick+Hand&display=swap');
body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 102, 255);
    color: white;
}
.root {
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    font-size: 60px;
    line-height: 0;
}
.game {
    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.canvas {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 13, 110);
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}
#word-display {
    width: 100%;
    height: 80px;
    background-color: rgb(96, 117, 177);
    margin-bottom: 50px;
    padding: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.letter-on-display {
    width: 60px;
    height: 60px;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.spacer {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: center;
    gap: 6px;
}
#letter {
    background-color: rgb(0, 7, 73);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 14px;
    cursor: pointer;
}
#letter:hover {
    background-color: rgb(37, 41, 84);
}
.disabled {
    opacity: 0;
}
#info {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: -50px;
    font-weight: 700;
    text-align: center;
    display: none;
}
#try-again-btn {
    border-radius: 100%;
    background-color: rgb(24, 151, 94);
    font-size: 40px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#try-again-btn:hover {
    background-color: rgb(10, 141, 82);
}